/* unordered list of tabs sin the navigation bar */
.nav-tabs {
    background-color: #EAE0D5;
    margin: 0%;
    padding: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* overwriting link formatting */
.nav-tabs a:visited {
    color: #273469;
    text-decoration: none;
}

/* overwriting link formatting */
.nav-tabs a:link {
    color: #273469;
    text-decoration: none;
}

/* overwriting link formatting */
.nav-tabs a:active {
    background-color: #585F75;
}

.nav-container {
    width: 100%;  /*to prevent nav bar from spilling over */
}

.nav-item {

    /* background-color: black; */
}
    /* DELFT BLUE -- color: #273469
    ALMOND -- color: #EAE0D5;
    KHAKI -- color: #C6AC8F;
    PAYNE'S GRAY -- color: #585F75; */