.photoHolder {
    display: flex;
    justify-content: center;
    position: absolute;
    clip-path: circle(42%);
    width:100%;
    height: auto;
}

.abePhoto {
    position: relative;
    bottom: 1rem;
    min-width: 250px;
    margin-top: -30%;
}

@media screen and (max-width: 780px) {
    /* .photoHolder{clip-path: circle(10%);} */
    /* .abePhoto{max-width: 750px}; */
    /* .abePhoto{bottom: -1rem;}; */
}